#NoDrag {
  -webkit-app-region: no-drag;
}

.AppHeader {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  background-color: #2d5857;
}
.AppTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
