#NoDrag {
  -webkit-app-region: no-drag;
}

.AppContainer {
  border: solid coral;
  margin: 0;
  max-width: auto;
  text-align: left;
  -webkit-app-region: drag;
}

.AppHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
